@import 'src/scss/variables.scss';
@import 'src/scss/fonts.scss';

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: $primary-color;
}

ul {
    padding-left: 2rem;
}

@media screen and (min-width: 1340px) {
    html {
        font-size: 16px;
    }
}
